body{
        width: 100%;
}

/*Navbar Section*/

#header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 80px;
        background: rgb(236, 222, 197);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
}

#navbar {
        display: flex;
        align-items: center;
        justify-content: center;
}

#navbar li {
        list-style: none;
        padding: 0 20px;
        position: relative;
}

#navbar li a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: black;
        transition: 0.5s ease;
}

#navbar li a:hover, #navbar li a.active {
        color: rgba(77, 77, 183, 0.826);
}

#navbar li a.active::after, #navbar li a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        position: absolute;
        bottom: -4px;
        left: 20px;
        background:  rgba(77, 77, 183, 0.826);
}

/*hero section*/

#hero {
        background-image: url("../images/hero4.png");
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: top 25% right 0;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
}

#hero h4 {
        padding-bottom: 15px;
}
#hero h2 {
        color: rgba(77, 77, 183, 0.826);
}
#hero button {
        background-image: url(../images/button.png);
        background-color: transparent;
        color: rgba(77, 77, 183, 0.826);
        border: 0;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;

}

/*feature section*/

#feature {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}

#feature .feature-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        border: 1px solid rgb(119, 113, 113);
        border-radius: 4px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 15px 0;
}
#feature .feature-box h6 {
       display: inline-block;
       padding: 9px 8px 6px 8px;
       line-height: 1;
       border-radius: 4px;
       color: rgba(77, 77, 183, 0.826);
       background-color: rgb(244, 230, 213);
}
#feature .feature-box img {
        width: 100%;
        margin-bottom: 10px;
}

#feature .feature-box h6:nth-child(2) h6 {
        background-color: rgba(171, 132, 208, 0.579);
}
#feature .feature-box h6:nth-child(3) h6 {
        background-color: rgba(210, 152, 162, 0.645);
}
#feature .feature-box h6:nth-child(4) h6 {
        background-color: rgba(183, 57, 57, 0.587);
}
#feature .feature-box h6:nth-child(5) h6 {
        background-color: rgba(65, 65, 197, 0.322) ;
}
#feature .feature-box h6:nth-child(6) h6 {
        background-color: rgba(113, 41, 41, 0.494);
}


/*product section*/

#product1 {
        text-align: center;
}
#product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
}
#product1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        margin: 15px 0;
       
        cursor: pointer;
        position: relative;
        
}

#product1 .pro img {
        width: 100%;
        border-radius: 20px;
}
#product1 .pro .design {
        text-align: start;
        padding: 10px 0;
}
#product1 .pro .design span {
        color: rgb(44, 41, 41);
        font-size: 12px;
}
#product1 .pro .design h5 {
        padding-top: 8px;
        font-size: 13px;
        color: black;
}
#product1 .pro .design .icon {
        font-size: 18px;
        color : rgb(219, 212, 19);
}
#product1 .pro .design h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: rgb(9, 61, 15);
}
#product1 .pro .cart {
        background-color: azure;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        font-weight: 500;
        color:  rgb(9, 61, 15);
        border: 1px solid wheat;
        position: absolute;
        bottom: 20px;
        right: 10px;
}

/*banner section*/

#banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(../images/banner/b2.jpg);
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
}

#banner h4 {
        color: white;
        font-size: 15px;
}

#banner h2 {
        color: rgb(242, 242, 241);
        font-size: 30px;
        padding: 10px 0;
}
#banner h2 sapn{
        color: rgb(191, 33, 33);
}

#banner button:hover {
        background-color: green;
        border-color: white;
}

/*2nd Banner Section*/

#banner-two {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

#banner-two .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex;
        padding: 30px;
        background-image: url(../images/banner/b17.jpg);
        min-width: 580px;
        height: 50vh;
        background-size: cover;
        background-position: center;
}

#banner-two .banner-box-two {
      
        background-image: url(../images/banner/b10.jpg);
        
}

#banner-two h4{
        color: white;
        font-size: 20px;
        font-weight: 300;
}

#banner-two h2 {
        color: white;
        font-size: 29px;
        font-weight: 700;
}

#banner-two span {
        color: white;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
}

#banner-two .banner-box:hover button {
        background-color: green;
        border: 1px solid green;
}



/*3rd banner section*/

#banner-three {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 80px;
}

#banner-three .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex;
        padding: 20px;
        background-image: url(../images/banner/b7.jpg);
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
}

#banner-three h2 {
        color: white;
        font-size: 22px;
        font-weight: 800;
}

#banner-three h3 {
        color: rgb(236, 55, 55);
        font-size: 15px;
        font-weight: 800;
}

#banner-three .banner-box-two {
        background-image:  background-image: url(../images/banner/b4.jpg);
}

#banner-three .banner-box-three {
        background-image: url(../images/banner/b18.jpg);
}

/*newsletter section*/

#newsletter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(../images/banner/b14.png);
        background-repeat: no-repeat;
        background-position: 20% 30%;
        background-color: #041e42;
}

#newsletter h4 {
        font-size: 23px;
        color: white;
        font-weight: 800;
}

#newsletter p {
        font-size: 15px;
        color: rgb(109, 92, 92);
        font-weight: 600;
}

#newsletter p span {
        color: rgb(255, 192, 19);
}

#newsletter input {
        height: 3.125rem;
        padding: 0 1.25rem;
        font-size: 15px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
}
















.section-p1 {
        padding: 40px 80px;
}

.section-n1 {
        margin: 40px 0;
}

button .normal {
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        color: black;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
}

button .white {
        font-size: 14px;
        font-weight: 600;
        padding: 11px 18px;
        color: rgb(255, 248, 248);
        background-color: transparent;
        
        cursor: pointer;
        border: 1px solid white;
        outline: none;
        transition: 0.2s;
}


p {
        font-size: 16px;
        color: rgb(19, 18, 18);
        margin: 15px 0 20px 0;
}

h6{
        font-weight: 700;
        font-size: 12px;
}